.pixelated {
    image-rendering: pixelated;
}

/* 90vmin = 90% of the smaller dimension of the viewport */
.projects img {
    max-width: min(90vmin, 500px);
    max-height: min(90vmin, 500px);
}

.projects .image-width-limited img {
    width: min(90vmin, 500px);
}

.projects .image-height-limited img {
    height: min(90vmin, 500px);
}
