.pixelated {
    image-rendering: pixelated;
}

/* 90vmin = 90% of the smaller dimension of the viewport */
.projects img {
    max-width: min(90vmin, 500px);
    max-height: min(90vmin, 500px);
}

.projects .image-width-limited img {
    width: min(90vmin, 500px);
}

.projects .image-height-limited img {
    height: min(90vmin, 500px);
}

img.tip-small-preview {
    width: 73px;
    height: 100px;
    object-fit: contain;
}

img.site-logo {
    height: 30px;
}

@media (max-width: 600px) or (max-height: 600px){
    img.tip-small-preview {
        width: 57px;
        height: 78px;
        object-fit: contain;
    }

    img.site-logo {
        height: 20px;
    }
}

img {
    margin: 5px;
}

img.no-margin {
    margin: 0px;
}
