.link-container a:link { /* Normal unvisited link */
    color: var(--link-normal);
}

.link-container a:visited { /* Normal visited link */
    color: var(--link-normal);
}

.link-container a:hover { /* link while hovered over */
    color: var(--link-hover);
}

.link-container a:active { /* link while clicked */
    color: var(--link-active);
}

.link-container img {
    height: 30px;
}

@media (max-width: 600px) or (max-height: 600px){
    .link-container img {
        height: 20px;
    }
}
