.link-container a:link { /* Normal unvisited link */
    color: #867BFF;
}

.link-container a:visited { /* Normal visited link */
    color: #867BFF;
}

.link-container a:hover { /* link while hovered over */
    color: #A9A1FF;
}

.link-container a:active { /* link while clicked */
    color: #444DFF;
}

.link-container img {
    height: 30px;
}

@media (max-width: 600px) or (max-height: 600px){
    .link-container img {
        height: 20px;
    }
}
