:root {

    /*==========================*/
    /*==========Colors==========*/
    /*==========================*/

    --white: #FFFFFF;
    --main-background-color: #17153B;

    --accent-dark:  #2E236C; /* Darkest accent color, lighter then background
                                Used for topnav background */
    --accent-light: #433D8B; /* Lighter accent color
                                Used for topnav 'current active page' */
    --accent-hover: #C8ACD6; /* Hover accent color
                                Used for topnav links while hovering */

    --link-normal: #867BFF; /* Used for normal visited and unvisited links */
    --link-hover:  #A9A1FF; /* While hovering over a link */
    --link-active: #444DFF; /* While the link is active (while holding mouse down) */


    --code-background: #222222; /* The background of the code */
    --code-default: #FFFFFF; /* Used for code when no color is specified */
    --code-comment: #00AA00; /* Used for code comments */
    --code-define: #BB55BB; /* Used for #defines */
    --code-type: #5555BB; /* Used for types (i.e. "string", "int", "double", ... */
    --code-keyword: #C586C0; /* Used for language keywords (i.e. "if", "for", "return", ...) */
    --code-parenthesis: #C26FD6; /* Used for parenthesis (i.e. "{", "(", ")", "}", ...) */
    --code-method: #DCDC9D; /* Used for method names */
    --code-class: #46C9B0; /* Used for class and namespace names */
    --code-string: #CE9178; /* Used for strings */


    /*=========================*/
    /*==========Fonts==========*/
    /*=========================*/

    --font-paragraph: BeepSans;
    --font-heading1: BeepSans;
    --font-topnav: BeepSans;
    --font-code: Neon;
}

@font-face {
    font-family: BeepSans;
    src: url(../fonts/Beep-Regular.otf);
}
@font-face {
    font-family: BeepSans-Bold;
    src: url(../fonts/Beep-Bold.otf);
}

@font-face {
    font-family: Neon;
    src: url(../fonts/MonaspaceNeon-Regular.otf);
}



